@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@font-face {
    font-family: 'haleemah';
    src: url(./GD-Boing-Bold.ttf);
 }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav-bar{
    display: flex;
    align-items: center;
    padding: 20px 40px;
    justify-content: space-between;
}
.div-bar{
    display: flex;
    align-items: center;
}
.nav-div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.cut{
    width: 35px;
}
.li{
    color: #ffba0e;
    font-weight: 500;
    text-decoration: none;
}
.about{
    list-style: none;
    text-decoration: none;
    color: white;
}
.div-bar h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: #ffba0e;
}
.listed{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 18px;
    color: white;
}
.btn{
    width: 120px;
    height: 30px;
    background-color: #ffba0e;
    border: none;
    border-radius: 3px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-about h1{
    font-family: "haleemah";
    font-size: 50px;
    color: white;
}
.listed a{
    font-weight: 500;
}
.listed li{
    font-weight: 500;
}
.listing li{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    list-style: none;
    font-size: 14px;
}
.home{
    color: #ffba0e;
}
.ab{
    color: white;
}
.slash{
    color: white;
}
.listing{
    display: flex;
    gap: 10px;
}
.div-about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 100px 0px 220px 0px;
}
.navi{
    background-image: linear-gradient(rgba(1, 24, 54, 0.824),rgba(1, 24, 54, 0.801)), url(./img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
    padding: 0px 0px 50px 0px;
}
.explore img{
    width: 30px;
}
.explore h2{
    font-family:  "Cedarville Cursive";
    font-style: italic;
    font-size: 20px;
    color: #f8c33f;
}
.explore{
    display: flex;
    gap: 5px;
}
.head-sections h1{
    font-family: "haleemah";
    font-size: 35px;
}
.head-sections{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 80px;
}

.arrange img{
    width: 35px;
}
.arrange h1{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 500;
}
.arrange p{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    width: 200px;
}
.arrange{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    /* justify-content: center; */
    gap: 10px;
    width: 240px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.hero-sections{
    display: flex;
    justify-content: space-between;
    padding: 20px 180px 20px 180px;
}
.hero-sectionss{
    display: flex;
    justify-content: space-between;
    padding: 20px 180px 100px 180px;
}
.com h3{
    font-family: "Cedarville Cursive";
    font-size: 24px;
    font-style: italic;
    color: #f49931;
}
.com img{
    width: 40px;
}
.com{
    display: flex;
    align-items: center;
}
.footer-li img{
    width: 12px;
}
.footer-li li{
    font-size: 14px;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    list-style: none;
}
.footer-li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.listed-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.company-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.location img{
    width: 25px;
}
.location p{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 400;
}
.location{
    display: flex;
    align-items: center;
    gap: 10px;
}
.fb{
    width: 15px;
}
.ig{
    width: 15px;
}
.tw{
    width: 15px;
}
.in{
    width: 15px;
}
.emp{
    width: 30px;
    height: 30px;
    border: 0.5px solid white;
    background-color: rgba(4, 4, 19, 0.811);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-div{
    display: flex;
    gap: 3px;
}
.abt-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.open p{
    font-family:  Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
}
.pp{
    font-family:  Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 500;
}
.open{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.opening{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.opening-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.p-button p{
    font-family:  Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    width: 250px;
}
.butt button{
    width: 80px;
    height: 35px;
    background-color: #f49931;
    color: white;
    border: none;
    border-radius: 2px;
}
.email p{
    color: rgb(92, 88, 88);
}
.butt{
    display: flex;
    align-items: center;
}
.p-button{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.email{
    display: flex;
    width: 250px;
    height: 50px;
    gap: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.5px solid #f49931;
    padding: 10px 10px 10px 15px;
}
.letter-div{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
}
.footer{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 50px 60px 100px 60px;
    background-color: rgba(11, 11, 37, 0.97);
    color: white;
}
.em{
    margin: 0 140px;
    height: 1px;
    color: white;
    /* background-color: #929292; */
    background-color: rgba(255, 255, 255, 0.333);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footers{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    padding: 0px 0px 5px 0px;
    background-color: rgba(11, 11, 37, 0.97);
}
.last p{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
}
.footer-li li{
    font-size: 16px;
}
.footer-li{
    display: flex;
    gap: 25px;
}
.last{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(11, 11, 37, 0.97);
    color: white;
}


@media screen and (max-width:900px){
    .hero-sections{
        padding: 20px 80px;
    }
    .hero-sectionss{
        padding: 30px 80px 60px 80px;
    }
    .last{
        padding: 20px 50px;
    }
}

@media screen and (max-width:500px){
    .listed{
        display: none;
    }
    .btn{
        display: none;
    }
    .navi{
        /* padding: 30px 0px 50px 0px; */
        /* height: 300px; */
        background-repeat: repeat;
    }
    .head-sections h1{
        font-size: 22px;
    }
    .arrange{
        width: 100%;
    }
    .hero-sections{
        flex-direction: column;
        padding: 20px 30px;
    }
    .hero-sectionss{
        flex-direction: column;
        padding: 20px 30px 50px 30px;
    }
    .footer{
        flex-direction: column;
    }
    .company-div{
        width: 300px;
    }
    .contact-div{
        width: 300px;
    }
    .opening-div{
        width: 300px;
    }
    .letter-div{
        width: 300px;
    }
    .last{
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
    .last p{
        width: 100%;
    }
    
}
